betterproto==2.0.0b5
dash==2.8.1
dash-bootstrap-components==1.3.1
dash-core-components==2.0.0
dash-cytoscape==0.3.0
dash-dangerously-set-inner-html==0.0.2
dash-html-components==2.0.0
dash-table==5.0.0
exceptiongroup==1.2.0
extensionclass==5.1
flask==2.2.2
future==1.0.0
grpcio==1.62.1
grpclib==0.4.3
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==0.16.3
httpx==0.23.3
hyperframe==6.0.1
importlib-metadata==4.11.4
itsdangerous==2.1.2
joblib==1.2.0
marshmallow==3.21.1
msgpack==1.0.8
multidict==6.0.2
orderdict==2020.12.3
plotly==5.13.0
protobuf==3.20.3
pygments==2.12.0
pyqt5==5.15.10
pyqt5-qt5==5.15.2
pyqt5-sip==12.13.0
pytz==2020.5
qm-qua==1.1.7
qualang-tools==0.16.0
rfc3986==1.5.0
scikit-learn==1.2.1
sniffio==1.3.1
stringcase==1.2.0
tenacity==6.3.1
threadpoolctl==3.1.0
tinydb==4.7.1
traitlets==5.2.2.post1
waitress==2.1.2
werkzeug==2.2.2
yarl==1.8.1
zope-interface==6.2